#page {
	height: 100%;
	width: 100%;
}

/*cover ここから*/
#cover {
	background-image: url(../img/cover.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	color: #fff;
	height: 850px;
}

.title {
	font-size: 64px;
}
/*cover ここまで*/


/*header ここから*/
header {
	background-color: transparent;
	color: #fff;
	font-size: 18px;
	padding: 5px 0;
	display: flex;
	justify-content: space-between;
	height: 100px;
	position: fixed;
	width: 100%;
}

/*header 左*/
.icon {
	display: flex;
	align-items: center;
	margin-left: 80px;
}

.icon span {
	margin-left: 50px;
}
/*header 右*/
.header-right {
	display: flex;
	align-items: center;
	margin-right: 80px;
}

.header-right li {
	margin-right: 30px;
	cursor: pointer;
}

.header-right li:last-child {
	margin-right: 0;
}
/*header ここまで*/


/*main ここから*/
main {
	background-color: #fff;
	color: #000;
}
/*main ①*/
.profile {
	display: flex;
	justify-content: space-around;
	margin-top: 100px;
}

.me-img {
	height: 500px;
	width: 400px;
}

.text {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h2 {
	font-size: 36px;
	text-align: center;
}

.text p {
	margin-top: 60px;
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: bold;
}
/*main ②*/
.hobby {
	margin-top: 100px;
	margin-bottom: 100px;
}

.hobby-list {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.hobby-list li {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-right: 100px;
	cursor: pointer;
}

.hobby-list li:last-child {
	margin-right: 0;
}

.hobby-list li span {
	font-size: 24px;
	margin-top: 20px;
}

/*main ここまで*/


/*contact ここから*/
aside {
	background-image: url(../img/nozokimi.png);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	height: 500px;
}

.contactspace {
	background-color: rgba(255,255,255,0.8);
	margin: 0 auto;
	padding: 20px 0;
	box-sizing: border-box;
	width: 700px;
}

h3 {
	font-size: 36px;
}

.form p {
	margin-top: 30px;
	cursor: pointer;
}

.form span {
	font-size: 30px;
}

.form .btn {
	text-align: center;
	display: block;
	border: 2px solid #fff;
	padding: 8px 5px;
	margin: 20px auto;
	width: 450px;
}

.form .btn:hover {
	background-color: #333;
	color: #fff;
}
/*contact ここまで*/


/*footer ここから*/
footer {
	background-color: #333;
	color: #fff;
	font-size: 18px;
	padding: 5px 0;
	display: flex;
	justify-content: space-between;
	height: 100px;
}

.footer-left {
	display: flex;
	align-items: center;
	margin-right: 80px;
}

.footer-left li {
	margin-right: 30px;
	cursor: pointer;
}

.footer-left li:first-child {
	margin-left: 80px;
}

.footer-right {
	display: flex;
	align-items: center;
	margin-right: 80px;
}
/*footer ここまで*/

/*smartphone*/
@media screen and (max-width: 480px) {
	body {
		min-width: 375px;
	}

	/*header*/
	.header-right {
		display: none;
	}
	/*header*/

	/*main*/
	/*main*/

	/*contact*/
	/*contact*/

	/*footer*/
	/*footer*/
}


/*smartphoneここまで*/